[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
blinker = "*"
simplejson = "*"
watchdog = "*"
pylint = "*"
mysql-connector = "*"
gunicorn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
